In [1]:
# Esta es una prueba del correcto funcionamiento del repositorio

In [2]:
import pandas as pd 
import numpy as np

In [3]:
nombres = ['Edgar','Manuel','Araceli']
edades = [28,28,47]
ciudades = ['Neza','Neza','Neza']

In [8]:
base = {
    'nombres':nombres,
    'edad':edades,
    'ciudad':ciudades,
}

In [10]:
df = pd.DataFrame(base)
df

   nombres  edad ciudad
0    Edgar    28   Neza
1   Manuel    28   Neza
2  Araceli    47   Neza

In [11]:
print('ustupid')

ustupid